.aval {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.dovvom {
    width: 1126px;
border-radius: 0;
    height: 5662px;
    background-color: red;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.peleaval{
    width: 100%;
    height: 250px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-direction: row;
}
.peldovvom{
    width: 100%;
    height: 232px;
    background: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;




}



.box{
gap: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    width: 217px;
    height: 136px;
    background-color: rgba(250, 238, 243, 1);

}
.box2{
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    width: 217px;
    height: 136px;
    background-color:  rgba(249, 249, 249, 1);
;

}
.numer{

    color: rgba(35, 35, 35, 1);

    font-family: "IRANSansXFaNum";
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
   width: 60px;
    top: 176px;
    left: 414px;

}
.balab{
height: 78px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.mabblaq2{

    font-family: "IRANSansXFaNum";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(35, 35, 35, 1);

}

.divvvhafkhat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 45px;

    gap: 4px;
}
.pprice{
    font-family: "IRANSansXFaNum";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
   color:  rgba(149, 149, 149, 1);

}
.nemodarradif{

width: 90%;
    height: 65px;
    background-color: darkturquoise;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.nemodarp{

    font-family: "IRANSansXFaNum";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color:rgba(35, 35, 35, 1);

}
.nemodarradif2{
    width: 90%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}
.dropdown{
    width: 223px;
    height: 47px;
    background-color: rgba(249, 249, 249, 1);
   border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 120px;

}


.dropdown:hover {
    color: black;
    transition: all 0.3s ease-in-out; /* Smooth transition */

}


.barasas{
    color: rgba(149, 149, 149, 1);
    font-family: "IRANSansXFaNum";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
}
.barasas:hover{
  color: black;

}